alabaster==0.7.12
Babel==2.6.0
certifi==2018.11.29
chardet==3.0.4
docutils==0.14
-e git+https://github.com/JaneliaSciComp/ethoscope.git@43c2525fb02bc4334898b196f88e39463f888f18#egg=ethoscope&subdirectory=src
funcsigs==1.0.2
idna==2.8
imagesize==1.1.0
inflection==0.3.1
Jinja2==2.10
MarkupSafe==1.1.0
mock==2.0.0
modular-client==5.0.5
numpy==1.16.0
packaging==19.0
pbr==5.1.1
picamera==1.13
Pygments==2.3.1
pyparsing==2.3.1
pyserial==3.4
pytz==2018.9
requests==2.21.0
scipy==1.2.0
serial-interface==1.0.2
six==1.12.0
snowballstemmer==1.2.1
Sphinx==1.8.3
sphinx-rtd-theme==0.4.2
sphinxcontrib-websupport==1.1.0
typing==3.6.6
urllib3==1.24.1
