[Unit]
Description=Start Git Daemon

[Service]
Type=simple
ExecStart=/usr/bin/git daemon --reuseaddr --export-all --informative-errors --verbose --base-path=/srv/git/
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
